body {
  margin: 0;
  padding: 0;
  direction: rtl;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 150px;
}
.header form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.mainForm {
  width: 50%;
  height: 60px;
  font-size: 30px;
}

#subbut {
  height: 4em;

}
.boxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.box {
  background: #f3f3f3;
  margin: auto;
  width: 400px;
  min-height: 300px;
  margin-top: 20px;
}

.random-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.random-table ul, h3 {
  background: #f3f3f3;
  margin: auto;
  width: 400px;
}

footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: grey;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

footer li {
  display: inline;
}
