{% extends "words/base.html" %}

{% block content %}
<div  style="text-align: center; margin: auto; width: 400px;">
<h3>אודותינו</h3>
<p>
 אתר "סלנגז" הוא מילון מקוון של סלנג בשפה העברית. מטרת האתר היא לשמש ככלי נוח וזמין לגילוי, הוספה והכרעה של מילות סלנג חדשות.
</p>

<h4>וואו מגניב! איך נרשמים?</h4>
<p>כדי להירשם לאתר וליצור משתמש <a href="{% url 'signup' %}"><b>לחצו כאן</b></a></p>

<h4>וואו מגניב! מה עכשיו?</h4>
<p>לאחר הרשמה משתמשים באתר יכולים להעלות מילים חדשות לאתר ולהצביע על מילים קיימות.</p>

<h4>וואו מגניב! יש חוקים?</h4>
<p>כן ואלה החוקים: </p>
<ul>
  <li>מותר להוסיף להיות רק בעברית!</li>
  <li>אסור למשתמשים להוסיף יותר מ10 מילים ביממה</li>
  <li>היה נכון תמיד</li>
</ul>

</div>
{% endblock content %}
