{% extends "words/base.html" %}

{% block content %}
<h3 style="text-align: center;">about about about</h3>
<p style="text-align: center; margin: auto; width: 400px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugit tenetur quae cum maiores aliquid! At repellendus quas, odit ipsam deserunt ullam hic nam porro earum vero? Deleniti velit
  id, autem voluptatibus amet quia, sit omnis numquam explicabo libero deserunt ad quidem eos aliquid sequi officiis dolor culpa illum nostrum, provident possimus. Quibusdam id officiis numquam harum necessitatibus repellendus in rem ea, quaerat
  asperiores dolor sit eum quisquam fugiat, rerum architecto exercitationem sed deserunt dolorem temporibus quam delectus sapiente at facere atque. Nam pariatur, ipsam sapiente officia sunt quo incidunt tempora reiciendis aliquid illo eveniet, quis
  quas suscipit temporibus dolorum quasi ad esse facere deleniti nihil nostrum. Odio magnam, a maiores, vero eligendi id ad consectetur ullam at numquam illo. Similique earum voluptates totam molestiae mollitia saepe quasi excepturi? Vitae maxime
  dolores quod pariatur. Cupiditate totam at esse optio itaque est eveniet autem beatae harum laudantium magni debitis hic aliquam et, ratione neque provident veniam. Doloremque nihil quam, voluptates voluptas assumenda, id soluta laboriosam
  quibusdam, provident cum ipsa, voluptatibus obcaecati. Porro suscipit vel maxime at, doloribus autem libero. Dolorum repellat cumque fugiat reprehenderit, ipsam ipsa quas expedita dolore nobis delectus rerum quaerat amet earum pariatur aliquid
  suscipit, architecto excepturi tempore.
</p>


{% endblock content %}
