{% extends "words/base.html" %}

{% block content %}
<div style="text-align: center;">

  {% if user.is_authenticated %}


  <h1>הגדר את המילה!</h1>
  <h2>{{ word_name }}</h2>
  <form action="/words/add/{{word_name}}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="שלח!">
  </form>

  {% else %}
  <h1>מילה לא קיימת? רוצים להגדיר?</h1>
  <h2>הירשם לאתר כדי להגדיר ולהצביע על מילים</h2>
  <h3><a href="/users/signup/">הירשם עכשיו!</a></h3>
  <h3><a href="/users/login/">אם יש לך כבר חשבון התחבר!</a></h3>
  {% endif %}
</div>

{% endblock content %}
