<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'words/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'words/logo.svg' %}"/>
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  {% if title %}
  <title>Slangs - {{ title }}</title>
  {% else %}
  <title>סלנגז</title>
  {% endif %}
</head>

<body style="direction: rtl;">
  <div class="container">
  <nav class="upper-navbar">
    <div class="logo-container">
      <a href="/words/"><img id="logo" src="{% static 'words/logo.svg' %}" alt="logo"></a>
    </div>
    <div class="user-area">
      {% if user.is_authenticated %}
      <a href="/users/logout/"><p>{{user.username}} שלום</p></a>
      {% else %}
      <a href="/users/login/"><p>שלום אורח</p></a>
      {% endif %}
      <a href="#"><i class="fas fa-users" id="users-icon"></i></a>
    </div>
  </nav>
  <header>
    <form action="/words/" method="post">
      {% csrf_token %}
      <input class="mainForm" name="query" type="text" name="your_name" placeholder="חפש בסלנגז...">
      <button type="submit" id="subbut">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <nav class="navbar">
      <ul>
        <li><a href="/tagList/">רשימת טאגים</a></li>
        <li><a href="/add/">הוסף הגדרה</a></li>
        <li><a href="/random/">מילה רנדומלית</a></li>
        <li><a href="/about/">אודות</a></li>
      </ul>
    </nav>
  </header>
  <div class="main">
  {% block content %} {% endblock %}
  </div>
  <div class="footer-area">
  <footer>
    <ul>
      <li><a href="/contact/">צרו קשר</a></li>
      <li><a href="/about/">אודות</a></li>
    </ul>
  </footer>
  <div class="underfooter">
    <p>
    כל הזכויות שמורות לאתר סלנגז 2019.
    </p>
  </div>
  </div>
  </div>
  <script src="{% static 'words/js/main.js' %}"></script>
</body>

</html>
