{% extends "words/base.html" %}

{% block content %}
<div class="flex-container">
  <div class="row">
    {% for word in words %}
    <div class="flex-item">
      <a class="wordA" href="/words/{{word.word_name}}/">
        <h3 class="word">{{word.word_name}}</h3>
      </a>
      <p class="def">{{word.word_def}}</p>
      <p class="example">{{word.word_example}}</p>
      <li class="date">{{ word.pub_date|date:'d/m/y' }}</li>
      <ul class="tag-list">
        {% for tag in word.word_tag.all %}
        <li class="tag"><a href="/tag/{{tag}}"> #{{ tag.tag_name }} </a></li>
        {% endfor %}
      </ul>
      <button class="upvotes" onclick="vote('{{ word.pk }}', 'up', this);">{{word.num_vote_up}}</button>
      <button class="downvotes" onclick="vote('{{ word.pk }}', 'down', this);">{{word.num_vote_down}}</button>
    </div>
    {% endfor %}
  </div>

</div>
<div class="pagination">
    <span class="step-links">
        {% if words.has_previous %}
            <a href="?page={{ words.previous_page_number }}">הקודם</a>
        {% endif %}

        <span class="current">
            עמוד {{ words.number }} מתוך {{ words.paginator.num_pages }}.
        </span>

        {% if words.has_next %}
            <a href="?page={{ words.next_page_number }}">הבא</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
