
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'words/style.css' %}">
  <title> {% block title %}סלנגז{% endblock %}</title>
</head>

<body>
  <header class="header">
    <form action="/words/" method="post">
    {% csrf_token %}
    <input class="mainForm" name="query" type="text" name="your_name" placeholder="חפש בסלנגז">
    <input type="submit" value="חפש!" id="subbut">
</form>
  </header>

{% for word in words %}
<div class="box">
    <h1>{{ word.word_name }}</h1>
    <p>הגדרה:</p>
    <li>{{ word.word_def }}</li>
    <p>דוגמא:</p>
    <li>{{ word.word_example }}</li>
    <p>תאריך פרסום:</p>
    <li>{{ word.pub_date }}</li>
    <li>{{ word.upvotes }}</li>
    <li>{{ word.downvotes }}</li>
</div>
{% endfor %}

<footer>  <ul> <li><a>צרו קשר</a></li>  <li><a>אודותינו</a></li>  <li><a href="/random/">מילה רנדומלית</a></li>
  </ul> </footer>
</body>
</html
