
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'words/style.css' %}">
  <title>סלנגז</title>
</head>
<body>


  <header class="header">
    <form action="/words/" method="post">
    {% csrf_token %}
    <input class="mainForm" name="query" type="text" name="your_name" placeholder="חפש בסלנגז">
    <input type="submit" value="חפש!" id="subbut">
</form>
  </header>



  <section class="random-table">
    <h3>מילים פופולריות:</h3>
    {% if word_list %}
        <ul>
        {% for word in word_list %}
            <li><a href="/words/{{ word.word_name }}/">{{ word.word_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Words are available.</p>
    {% endif %}
  </section>

  <div class="boxes">
  {% for word in other_words %}
  <div class="box">
    <h3 class="word">{{word.word_name}}</h3>
    <p class="def">{{word.word_def}}</p>
  </div>
  {% endfor %}
  </div>
  <footer>  <ul> <li><a>צרו קשר</a></li>  <li><a>אודותינו</a></li>  <li><a href="/random/">מילה רנדומלית</a></li>
    </ul> </footer>

</body>
</html>
