
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'words/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

  <title> {% block title %}סלנגז{% endblock %}</title>
</head>

<body style="direction: rtl;">
  <header class="header">
    <form action="/words/" method="post">
    {% csrf_token %}
    <input class="mainForm" name="query" type="text" name="your_name" placeholder="חפש בסלנגז">
    <button type="submit" id="subbut">
                  <i class="fas fa-search"></i>
    </button>
  </form>
  <div class="logo-container">
    <a href="/words/"><img id="logo" src="{% static 'words/logo.png' %}" alt="logo"></a>
  </div>
  </header>

<h1 style="text-align: center;">טאג: #{{t.tag_name}}</h1>
<div class="flex-container">
<div class="row">
{% for word in tagged_words %}
<div class="flex-item">
  <h3 class="word">{{word.word_name}}</h3>
  <p class="def">{{word.word_def}}</p>
  <p class="example">{{word.word_example}}</p>
  <li class="date" >{{ word.pub_date|date:'d/m/y' }}</li>
  <ul class="tag-list">
    {% for tag in word.word_tag.all %}
      <li class="tag"><a href="/tag/{{tag}}"> #{{ tag.tag_name }} </a></li>
    {% endfor %}
  </ul>
  <button class="upvotes">{{word.upvotes}}</button>
  <button class="downvotes">{{word.downvotes}}</button>
</div>
{% endfor %}
</div>
</div>
<footer>  <ul> <li><a href="/contact/">צרו קשר</a></li>  <li><a href="/about/">אודותינו</a></li>  <li><a href="/random/">מילה רנדומלית</a></li>
  </ul> </footer>
</body>
</html
