{% extends "words/base.html" %}

{% block content %}

<h1 style="text-align: center;">טאג: #{{t.tag_name}}</h1>
<div class="wrapper">
<div class="Word-Wrapper">
    {% for word in tagged_words %}
    <div class="Word-box">
      <a class="Word-title-a" href="/words/{{word.word_name}}/">
        <h3 class="Word-title">{{word.word_name}}</h3>
      </a>
      <p class="Word-definition">{{word.word_def}}</p>
      <p class="Word-example">{{word.word_example}}</p>
      <li class="Word-date">{{ word.pub_date|date:'d/m/y' }}</li>
      <ul class="Word-Tag-List">
        {% for tag in word.word_tag.all %}
        <li class="Word-Tag"><a href="/tag/{{tag}}"> #{{ tag.tag_name }} </a></li>
        {% endfor %}
      </ul>
      <button class="upvotes" onclick="vote('{{ word.pk }}', 'up', this);">{{word.num_vote_up}}</button>
      <button class="downvotes" onclick="vote('{{ word.pk }}', 'down', this);">{{word.num_vote_down}}</button>
      <p>נוסף על ידי: <br>{{word.author}}</p>
    </div>
    {% endfor %}
</div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if tagged_words.has_previous %}
            <a href="?page={{ tagged_words.previous_page_number }}">הקודם</a>
        {% endif %}

        <span class="current">
            עמוד {{ tagged_words.number }} מתוך {{ tagged_words.paginator.num_pages }}.
        </span>

        {% if tagged_words.has_next %}
            <a href="?page={{ tagged_words.next_page_number }}">הבא</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
