{% extends "words/base.html" %}


{% block content %}
<div  style="text-align:center; ">
  <div id="login-div">
  <h2>כניסה לחשבונך</h2>
  <form method="post" >
    {% csrf_token %}
      {% for field in form %}
      <p id="{{field.name}}">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    <button type="submit">התחבר!</button>
  </form>

  <a href="{% url 'signup' %}"> <h3>אין לך חשבון? הירשם!</h3></a>
  </div>
  </div>
{% endblock %}
